{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <title>INVENTARIS</title>
        {% tailwind_css %}
        {% block meta %}
        {% endblock meta %}
    </head>

    <body style="font-family: 'Roboto', sans-serif;" class="bg-neutral-800 text-white">
        {% block content %}
        {% endblock content %}
    </body>
</html>