{% extends 'base.html' %}

{% block content %}
<div class="h-screen grid grid-cols-2 justify-center items-center">
    <div class="min-h-screen flex justify-end items-center p-8 bg-cyan-500 rounded-r-[2rem]">
        <h1 class="font-black text-white text-5xl">INVENTARIS</h1>
    </div>
    <div class="min-h-screen flex justify-center items-start flex-col p-8 gap-8">
        <form method="POST" action="/login/">
            {% csrf_token %}
            <div class="flex flex-col gap-4 items-center">
                <div class="grid grid-row-2 gap-4">
                    <div class="flex justify-center items-center gap-4">
                        <label for="username" class="text-xl">Username:</label>
                        <input type="text" name="username" placeholder="Username" required class="form-control text-black appearance-none outline-none border-none rounded focus:shadow-none focus:border-none focus:ring-0 hover:outline-cyan-500 hover:outline-2 focus:outline-cyan-500 focus:outline-2 transition-[outline]">
                    </div>
                    <div class="flex justify-center items-center gap-4">
                        <label for="password" class="text-xl">Password:</label>
                        <input type="password" name="password" placeholder="Password" required class="form-control text-black appearance-none outline-none border-none rounded focus:shadow-none focus:border-none focus:ring-0 hover:outline-cyan-500 hover:outline-2 focus:outline-cyan-500 focus:outline-2 transition-[outline]">
                    </div>
                </div>
                <input class="border-2 border-cyan-500 bg-cyan-800 hover:bg-cyan-500 text-white px-3 py-1 rounded hover:cursor-pointer transition-colors" type="submit" value="Login">
            </div>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <li class="text-green-500 font-semibold text-lg">{{ message }}</li>
                    {% else %}
                        <li class="text-red-500 font-semibold text-lg">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}     
            
        <p class="text-lg">Don't have an account yet? <a href="{% url 'main:register' %}" class="hover:text-cyan-500 transition-colors">Register Now</a></p>
    </div>
</div>
{% endblock content %}