{% extends 'base.html' %}

{% block content %}
<div class="w-screen h-screen flex flex-col justify-center items-center gap-8">
    <h1 class="font-semibold text-5xl">Product Table</h1>
    <div class="flex flex-col justify-center items-center gap-6">
        <table>
            <tr class="bg-neutral-500 text-center">
                <th class="px-12 py-2 rounded-tl-xl">Name</th>
                <th class="px-12 py-2">Amount</th>
                <th class="px-12 py-2">Description</th>
                <th class="px-12 py-2">Category</th>
                <th class="px-12 py-2">Price</th>
                <th class="px-12 py-2">Date Added</th>
                <th class="rounded-tr-xl"></th>
            </tr>
            {% for product in products %}
            <tr class="{% if product == last_product %} bg-cyan-700 {% else %} bg-neutral-700 {% endif %} text-white text-center">
                <td class="px-12 py-2 {% if product == last_product %} rounded-bl-xl {% endif %}">{{product.name}}</td>
                <td class="px-12 py-2">
                    <div class="flex justify-between items-center gap-4">
                        <form method="post" action="/products/decrement/{{product.id}}/">
                            {% csrf_token %}
                            <button class="p-[2px] text-lg hover:text-green-400 transition-colors">-</button>
                        </form>
                        {{product.amount}}
                        <form method="post" action="/products/increment/{{product.id}}/">
                            {% csrf_token %}
                            <button class="p-[2px] text-lg hover:text-green-400 transition-colors">+</button>
                        </form>
                    </div>
                </td>
                <td class="px-12 py-2">{{product.description}}</td>
                <td class="px-12 py-2">{{product.category}}</td>
                <td class="px-12 py-2">{{product.price}}</td>
                <td class="px-12 py-2">{{product.date_added}}</td>
                <td class="px-12 py-2 {% if product == last_product %} rounded-br-xl {% endif %}">
                    <div class="flex gap-2">
                        <form method="post" action="/products/edit/{{product.id}}/" class="flex justify-center items-center">
                            {% csrf_token %}
                            <button class="hover:text-green-400 transition-colors">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>
                        </form>
                        <form method="post" action="/products/delete/{{product.id}}/" class="flex justify-center items-center">
                            {% csrf_token %}
                            <button class="hover:text-red-500 transition-colors">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p>Total products: {{product_count}} product{{plural}}</p>
    </div>
</div>
{% endblock content %}